{% extends 'myShop/basic.html' %}


{% block title%} Title of About {%endblock%}

{% block body%}



<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My E-Comm Application</h1>
        <p class="lead text-muted">A website that allows you to buy and sell tangible goods, digital products or services online.
Trade, be it barter exchange or buying and selling of goods and services has been prevalent for centuries. No one can be self-sufficient. And this brings out the need for demand and supply of goods and services.</p>
        <p>
          <a href="/myShop/ " class="btn btn-primary my-2">Home</a>
          <a href="/myShop/tracker" class="btn btn-secondary my-2">Track your Orders</a>
        </p>
      </div>
    </div>
  </section>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Source Code at .... </p>
    <p class="mb-0">A basic project for fun .</a>.</p>
  </div>
</footer>


{%endblock%}